@import url("https://fontsapi.zeoseven.com/281/main/result.css");

@font-face {
    font-family: "OpenMoji";
    src: url("/fonts/openmoji_color.woff2") format("woff2");
    /* OpenMoji-color-glyf_colr_0.woff2 */
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}


body {
    font-family: "Xiaolai", 'OpenMoji';
    font-weight: normal;
    font-size: 16pt;
    color: rgb(247, 187, 36);
}

